<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add
            id="Experius_SansecReport::experius_sansecreport_sansecreports"
            title="Sansec Security Reports"
            module="Experius_SansecReport"
            sortOrder="9999"
            resource="Magento_Backend::content"
            parent="Magento_Backend::system_tools"
            action="experius_sansecreport/sansecreports/index"
        />
	</menu>
</config>
